<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/testing.css')}}">
</head>
<body>
    
    <!-- <nav>
        <div class="logo">
            <p>navbar</p>
            <ul>
                <li><a href="{{url_for('home')}}">Home</a></li>
               <li><a href="{{url_for('register')}}">Register</a></li>
               <li><a href="{{url_for('signup')}}">Login</a></li> 
            </ul>
        </nav> -->
        <!-- 
         -->

         <nav>
            <div class="logo">
                <p>SJR.COM</p>
            </div>
            <ul>
                <li><a href="/">HOME</a></li>
                    <li><a href="/register">REGISTER</a></li>
                    <li><a href="/signup">SIGNUP</a></li>
            </ul>
        
        </nav>

<section id="jobs">


         
        <img style="position:absolute;top: 250px;"src="{{url_for('static',filename='php.jpg')}}" alt=""width="250" height="250">
        <img style="position:absolute;top: 600px;"src="{{url_for('static',filename='python.png')}}" alt=""width="430" height="250">
        <img style="position:absolute;top: 250px;left: 540px;"src="{{url_for('static',filename='software.jpg')}}" alt=""width="250" height="250">
        <img style="position:absolute;top: 600px;left: 540px;"src="{{url_for('static',filename='java.jpg')}}" alt=""width="250" height="250">
		<img style="position:absolute;top: 250px;left: 1050px;"src="{{url_for('static',filename='web.jpg')}}" alt=""width="250" height="250">
        <img style="position:absolute;top: 600px;left: 1050px;"src="{{url_for('static',filename='sql.jpg')}}" alt=""width="250" height="250">			
		<h2 style="position:absolute;top: 500px;left:80px"><a href="https://in.indeed.com/PHP-Developer-jobs?vjk=10cca9575b193c7d">APPLY</a></h2>
        <h2 style="position:absolute;top: 500px;left:650px"><a href="https://in.indeed.com/Software-Developer-jobs?vjk=b7da08f07cac87d5">APPLY</a></h2>
        <h2 style="position:absolute;top: 500px;left:1150px"><a href="https://in.indeed.com/Web-Developer-jobs?vjk=b81e49165da51eeb">APPLY</a></h2>
        <h2 style="position:absolute;top: 850px;left:1150px"><a href="https://in.indeed.com/SQL-Developer-jobs?vjk=ac86b15908022123">APPLY</a></h2>
        <h2 style="position:absolute;top: 850px;left:650px"><a href="https://in.indeed.com/Java-Developer-jobs?vjk=da306a665e00eb30">APPLY</a></h2>
        <h2 style="position:absolute;top: 850px;left:80px"><a href="https://in.indeed.com/Python-Developer-jobs?vjk=fa7b9bd250044569">APPLY</a></h2>
    </section>
    </body>    
</html>