<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jobs</title>
</head>
<body>
    {% for data in responseData.jobs_results %}
    <p>{{data.title}}</p>
    <p>{{data.company_name}}</p>
    <p>{{data.location}}</p>
    <p>{{data.via}}</p>
    <p>{{data.description}}</p>
    <img src="{{data.thumbnail}}"/>
    {% endfor %}
</body>
</html>