<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SJR.com</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/testing.css')}}">
</head>
<body>
    <!-- <header>
        <div class="topbar">
            <ul>
                <li><a href="{{url_for('home')}}">Home</a></li>
               <li><a href="{{url_for('register')}}">Register</a></li>
               <li><a href="{{url_for('signup')}}">Login</a></li> 
            </ul>
        </div>
    </header> -->
    <!-- <div class="main">
        <div class="navbar">
            <div class="icon">
                <h2 class="logo">SJR.COM</h2>
            </div>

            <div class="menu">
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/register">REGISTER</a></li>
                    <li><a href="/signup">SIGNUP</a></li>
                    <li><a href="/skill">SKILL</a></li>
                    <li><a href="/aboutus">ABOUTUS</a></li>
                    
                    
                </ul>
            </div> -->

            

        <!-- </div>  -->
        <nav>
            <div class="logo">
                <p>SJR.COM</p>
            </div>
            <ul>
                <li><a href="/">HOME</a></li>
                    <li><a href="/register">REGISTER</a></li>
                    <li><a href="/signup">SIGNUP</a></li>
            </ul>
        </nav>
    

		
		<center><h1>OUR COURSES</h1></center>

		<div class="course">
            <img src="{{url_for('static',filename='course-01.jpg')}}"alt="skill 1">			
			

			<center><h2><a href="https://www.w3schools.com/html/">HTML5 For Beginners</a></h2></center>

			<center><h6>This course was designed for students starting out in Front End Web Development wanting to learn HTML5 to get started........</h6></center>

			

		</div>

		<div class="course2">
            <img src="{{url_for('static',filename='course-02.jpg')}}"alt="skill 2">
			

			<center><h2><a href="https://www.w3schools.com/css/">CSS3 For Beginners</a></h2></center>

			<center><h6>This course was designed for students starting out in Front End Web Development wanting to learn CSS3 to get started........</h6></center>

			

		</div>

		<div class="course3">
			
			<img src="{{url_for('static',filename='course-03.jpg')}}"alt="skill 3">

			<center><h2><a href="https://www.w3schools.com/js/">JavaScript For Beginners</a></h2></center>

			<center><h6>This course was designed for students starting out in Front End Web Development wanting to learn JavaScript to get started........</h6></center>

		

		</div>

        

	</section>

</body>
</html>