body{
  background-image: url({{url_for('static',filename='img/img2.jpeg')}});
   background-repeat: no-repeat;
   background-size: 120% 120%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
* {box-sizing: border-box}
input[type=text], input[type=password] {
  width: 100%;
  font-size: 15px;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f2f5f2;
}
label{
  font-size: 15px;
}
input[type=text]:focus, input[type=password]:focus {
  background-color: rgb(171, 172, 179);
  outline: none;
}
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
button {
  font-size: 16px;
  font-weight: bold;
  background-color: rgb(10, 100, 13);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
button:hover {
  opacity:1;
}
.cancel {
  padding: 14px 10px;
  background-color: #ff3d2f;
}
.formContainer {
  padding-left: 35%;
  padding-right: 35%;
}
.formContainer p{
  font-size: 28px;
}